@import "../styles/base.css";

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: InterBold;
  src: url("../fonts/Inter-Bold.ttf");
}

.main {
  padding: 150px;
}

.home .main__heading {
  font-size: 120px;
  font-weight: bolder;
}

.home .main__sub-heading {
  font-size: 40px;
}

.home .menu path {
  fill: var(--color-button-primary-text);
}

.home .close path {
  fill: var(--color-button-primary-text);
}

@media (max-width: 1220px) {
  .home .main__heading {
    font-size: 70px;
  }
}

@media (max-width: 590px) {
  .home .main__heading {
    font-size: 40px;
  }

  .home .main__sub-heading {
    font-size: 24px;
  }
}
